<div *ngIf="car$ | async as vehicle" class="card">
  <img class="card-img-top" [src]="vehicle.image" alt="A car" />
  <div class="card-body">
    <h5 class="card-title">
      {{ vehicle.plate }} {{ vehicle.status.id | available }}
    </h5>
    <p class="card-text">
      <strong>Ausstattung:</strong>
      {{ vehicle.description }}
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus
      minus fuga rem iste eos placeat dicta sunt voluptatum reiciendis pariatur
      eaque aperiam ipsum odio, esse dolorum quaerat rerum vitae.
    </p>
    <h6>{{ vehicle.seats | seats }}</h6>
  </div>
  <div class="card-body">
    <button class="card-link btn" [disabled]="vehicle.status.id !== 1">
      Ausleihen
    </button>
    <button class="card-link btn">Bearbeiten</button>
    <button class="card-link btn" routerLink="..">Zurück</button>
  </div>
</div>
