<h3>Vehicle List</h3>
<!-- <div *ngIf="vehicles; else loading" class="list-group">
  <bka-vehicle-preview
    *ngFor="let vehicle of vehicles"
    [vehicle]="vehicle"
    (vehicleselected)="vehicleWasSelected($event)"
  ></bka-vehicle-preview>
</div> -->
<div *ngIf="vehicles$ | async as vehicles; else loading" class="row">
  <bka-vehicle-preview
    class="col-6"
    *ngFor="let vehicle of vehicles"
    [vehicle]="vehicle"
    (vehicleselected)="vehicleWasSelected($event)"
  ></bka-vehicle-preview>
</div>
<ng-template #loading>Loading</ng-template>
